
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@600;800&display=swap');



body{
    width: 1200px;
    background-color: antiquewhite;
    
font-family: 'Work Sans', 
}
.nav{
    width: 1140px;
    display: flex;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
}

.logo{width: 50%;
   border: 1px solid red;
   align-items: center;

}

/* .menus{width: 50%; 
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    align-items: center;
} */
/* .follow{display: flex;
    gap: 10px;
    border-radius: 8px;
    padding: 10px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    
}
li{list-style: none;}
.color{color:red}
.follow img{width: 15%;} */

/* 
.span{
    background-image:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
     color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
    font-weight: 700;

} */

.benner{
    width: 1140px;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
     margin-left: 40px;
     display: flex;
}
.play{
    width: 50%;
  /* text-align: center; */
  background-image: url("./images/Group\ 14.png");
 

}
  .play h2, h1{margin-left: 150px;}
    .play  h1{ 
        color:#0B0223;
        font-family: work Sans;
        font-size: 48px;
        font-weight: 600;
        
        text-transform: uppercase;
    }





.pic-play{
    width: 50%;
}
.no-play{ display: flex;
             width: 50%;
             /* text-align: center; */
             margin: 0 auto;
            }
.pic-play img{width: 70%;}